.photo-grid {
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px;
  padding-top: 50px;
  width: 100%;
}

.photo-grid__card {
  max-width: 282px;
  position: relative;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  overflow: hidden;
}

.photo-grid__delete {
  visibility: hidden;
  position: absolute;
  top: 18px;
  right: 15px;
}

.photo-grid__delete:hover {
  opacity: 0.5;
  cursor: pointer;
}

.photo-grid__delete_show {
  visibility: visible;
}

.photo-grid__photo {
  width: 282px;
  height: 282px;
}

.photo-grid__photo img {
  max-width: 100%;
  height: auto;
  display: block;
}

.photo-grid__discription {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 21px;
  padding-right: 15px;
}

.photo-grid__name {
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.photo-grid__likes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo-grid__like {
  margin-left: auto;
}

.photo-grid__like:hover {
  opacity: 0.5;
  cursor: pointer;
}

.photo-grid__like-count {
  display: none;
}

.photo-grid__like-count_show {
  display: block;
  margin-top: 4px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .photo-grid__card:nth-child(odd) {
    justify-self: flex-end;
  }

  .photo-grid__card:nth-child(even) {
    justify-self: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 38px 19px 0;
    box-sizing: border-box;
  }
}
